<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztjs.platform.mapper.project.ProjectWeatherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="projectWeatherMap" type="com.ztjs.platform.model.po.project.ProjectWeatherPo">
        <id column="ID" property="id" javaType="int" jdbcType="INTEGER" />
        <result column="TEMPERATURE" property="temperature" javaType="int" jdbcType="INTEGER" />
        <result column="WEATHER" property="weather" javaType="string" jdbcType="VARCHAR" />
        <result column="WIND" property="wind" javaType="int" jdbcType="INTEGER" />
        <result column="CREATE_TIME" property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
    </resultMap>

</mapper>